
.disco-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: black;
}
.disco-header{
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.disco-picture {
    width: 100%;
    height: 100%;
    position: absolute;
}
.container-disco{
position: relative;
height: 100%;
}

.row{
position: relative;
height: 100%;
}

.disco-contraste{
width: 100%;
height: 100%;
position: absolute;
background-image: linear-gradient(transparent, rgba(102, 97, 97, 0.575) ); 
}

.disco-h1{
    position: relative;
    width: 100%;
    height: 100%; 
    text-align: left; 
    font-family: "ZeF RAVE";
    font-size: 6vw;
    color: #c90000;
}

.disco-p{
    position: relative;
    width: 100%;
    height: 100%;  
    text-align: left; 
    font-family: 'Oswald', sans-serif;
    font-size:2.2vw;
    color: white;
}
.disco-button{
    position: relative;
    background-color: #c90000;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 2.2vw;
    font-family: 'Oswald', sans-serif;
    border: none;
    text-decoration: none;
   
  }
  .disco-button:hover{
    position: relative;
    background-color: #c24f4f;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 2.1vw;
    font-family: 'Oswald', sans-serif;
    transition-duration: 0.4s;
  }
  .disco-section{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
  }

  ol{    
      position: relative;
    font-family: "ZeF RAVE";
    font-size: 8vw;
    color: #c90000;  
  }

  li{
 position: relative;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 2.5vh;
   margin-left:20px ;
  }

  a { color: inherit; 
} 
  
 
.photo { 
    width: 100%;
    height: 100%;
    margin-top: 20px;


} 
.disco-button2{

  position: relative;
  background-color: #c90000;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 2.2vw;
  font-family: 'Oswald', sans-serif;
  border: none;
  text-decoration: none;
  margin-left:20px ;
}

.disco-button2:hover{
  position: relative;
  background-color: #c24f4f;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 2.1vw;
  font-family: 'Oswald', sans-serif;
  transition-duration: 0.4s;
}

@media (min-width: 1200px) {
  li{
      font-size:4vh;
      margin-left:8%;

  }
}
@media (min-width: 1200px) {
  ol{
      font-size:10vh;
    

  }
}
@media (min-width: 1200px) {
  .disco-button2{
      font-size:2.1vW;
      margin-left: 40px;
    

  }
}
@media (min-width: 576px) {
  section{
      
      margin-top: 0px;
    

  }
}
@media (min-width: 576px) {
  .photo{
      
      margin-top: 0px;
  }
}
