@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

@import 'variables.css';
@import 'accueil.css';
@import 'discographie.css';

@font-face {
  font-family: "ZeF RAVE";
  src: url('ZeF RAVE.otf');
}

h1{
  font-size: 6vw; 
}
h2{
  font-size: 5vw; 
}
h3{
  font-size: 4vw; 
}
p{
  font-size: 2.2vw;
}

footer{
  background-color: #740000;
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.navbar{
  background-color: #740000;
  width: 100%;
}
.navbar-brand{
  font-family: "ZeF RAVE";
  font-size: 30px;
}
.nav-item{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
.active{
  color: white;
}
.maxime-hover:hover{
  color:#ffc5c5;
  cursor: pointer;
}
.modal-title{
  font-family: "ZeF RAVE";
  font-size: 40px;
  color: #c90000;
}
.img-modal{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



