:root {
    --bg: #120100;
    --text: #ffffff;
    --primary: #c90000;
    --primary-alt: #c24f4f;
    --secondary: #740000;
    --secondary-alt: rgb(100, 100, 100);

    --title: 'Heebo', sans-serif;
    --regular: 'Oswald', sans-serif;
}