:root {
    --bg: #120100;
    --text: #ffffff;
    --primary: #c90000;
    --primary-alt: #c24f4f;
    --secondary: #00047d;
    --secondary-alt: #42459e;

    --title: 'ZeF RAVE';
    --regular: 'Oswald', sans-serif;
}